{% extends 'base.html.twig' %}

{% block title %}Home | Take my gloss{% endblock %}

{% block body %}

<div class="home">
  <div class="login">
    <a href="{{ path('app_login') }}">Login</a>
  </div>
  <div class="reg">
    <a href="{{ path('app_register') }}">Register</a>
  </div>
  <div class="banner">
    <div class="title">
      <h1>Take my gloss</h1>
    </div>
    <div class="nav">
      <div class="new">
          <h2>Nouveautés</h2>
          <div class="block">
            <h2>caca</h2>
          </div>
      </div>
      <div class="body_care">
          <h2>Body Care</h2>
          <div class="block">
            <h2>caca</h2>
          </div>
      </div>
      <div class="mouth">
          <h2>Gloss & Lipstick</h2>
          <div class="block">
            <h2>caca</h2>
          </div>
      </div>
      <div class="skin">
          <h2>Powder & Crema</h2>
          <div class="block">
            <h2>caca</h2>
          </div>
      </div>
      <div class="eyes">
          <h2>Eyes</h2>
          <div class="block">
            <h2>caca</h2>
          </div>
      </div>
      <div class="nails">
          <h2>Nails</h2>
          <div class="block">
            <h2>caca</h2>
          </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
