{% extends 'base.html.twig' %}

{% block title %}Body | Take my gloss{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link href="item.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}

<div class="body_item">
  <div class="item">
    <h2>caca</h2>
  </div>
  <div class="item">
    <h2>caca</h2>
  </div>
  <div class="item">
    <h2>caca</h2>
  </div>
  <div class="item">
    <h2>caca</h2>
  </div>
  <div class="item">
    <h2>caca</h2>
  </div>
  <div class="item">
    <h2>caca</h2>
  </div>
</div>
{% endblock %}
