{% extends 'base.html.twig' %}

{% block title %}News | Take my gloss{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link href="item.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}

<div class="news_page">
  <h2>NEW SPRING COLLECTION</h2>
  <h3>Lorem Ipsum</h3>
</div>
{% endblock %}
